name: CI
on:
  push:
    branches:
      - Add-github-workflow

jobs:
  individual_tests:
    runs-on: ubuntu-latest
    env:
      DB_HOST: postgres
      DB_USER: veri
      DB_PASSWORD: veri
      DB_DATABASE: veri
      DB_DIALECT: postgres
    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_DB: ${{ env.DB_DATABASE }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
          POSTGRES_USER: ${{ env.DB_USER }}
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: "16"
        cache: npm
        cache-dependency-path: veri-backend/package-lock.json
    # - name: Test frontend individual
    #   working-directory: veri-frontend
    #   run: npm install && npm run test
    - name: Test backend individual
      working-directory: veri-backend
      run: npm install && npm run test
  full_test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Run complete solution
      run: docker-compose up -d
    - name: Health check
      run: docker ps -a
